
@{
    ViewBag.Title = "DataPassing";
}

<h2>Datapassing using View Bag</h2>

<table border="1">
    <tr>
      <td>
          BookName:
      </td>
        <td>
            AuthorName
        </td>
        <td>
            bookId
        </td>
        </tr>
    @foreach(Book.Data.BookDetails book in ViewBag.Books)
    {
        <tr>
            <td>
                @book.bookName
            </td>
            <td>
                @book.authorName
            </td>
            <td>
                @book.bookId
            </td>
        </tr>
    }
</table>